<form style="margin: auto; width: 50%;" class="form-horizontal" [formGroup]="questionForm"
  (ngSubmit)="CreateQuestion()">
  <div class="form-group">
    <label for="exampleFormControlInput1">Question Title</label>
    <input formControlName="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Question Title">
    <div *ngIf="title.errors && title.errors.required && (title.dirty || title.touched)" class="error">
      Question title is required!
    </div>
    <div *ngIf="title.errors && title.errors.minlength && (title.dirty || title.touched)" class="error">
      Question title min length is 5
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example Question</label>
    <textarea formControlName="question" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <div *ngIf="question.errors && question.errors.required && (question.dirty || question.touched)" class="error">
      Question title is required!
    </div>
    <div *ngIf="question.errors && question.errors.minlength && (question.dirty || question.touched)" class="error">
      Question question min length is 20
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!questionForm.valid">Create Question</button>
</form>

