
<div style="width: 80%; margin: auto">
    <h2> List of Staff </h2>
    <hr>

    <!-- <form [formGroup]="staffForm" (ngSubmit)="onSubmit()"> -->
    <form (ngSubmit)="onSubmit()">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>#</th>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Status</th>
              <!-- <th>
              </th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
              <th scope="row"> {{ i + 1}} </th>
              <td> {{ user.email }} </td>
              <td> {{ user.firstName }} </td>
              <td> {{ user.lastName }} </td>
              <!-- <td>
                  <span *ngIf="!user.status" class="glyphicon glyphicon glyphicon-minus-sign red"> </span>
                  <span *ngIf="user.status" class="glyphicon glyphicon glyphicon-check green"> </span>
                  {{ user.status }}
              </td> -->
              <!-- <td>
                <input data-toggle="modal" data-target="#exampleModal" name="status" [(ngModel)]="user.status" *ngIf="!user.status" type="checkbox" class="form-check-input" (change)="onUserSelectChange(user.email, $event.target.checked)" >
                <input data-toggle="modal" data-target="#exampleModal" name="status" [(ngModel)]="user.status" *ngIf="user.status" type="checkbox" class="form-check-input" checked="checked" (change)="onUserSelectChange(user.email, $event.target.checked)">
              </td> -->
              <td>
                  <input *ngIf="user.status" type="checkbox" checked="checked" (change)="onUserSelectChange(user.email, $event.target.checked)">
                  <input *ngIf="!user.status" type="checkbox" (change)="onUserSelectChange(user.email, $event.target.checked)">
              </td>
            </tr>
        </tbody>
      </table>
    </form>
</div>



