<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"> STUDENT SYSTEM</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>

        <li class="dropdown">
          <a [routerLink]="['admin']" class="dropdown-toggle" data-toggle="dropdown">Admin
          <span class="caret"></span></a>

        </li>

        <li class="dropdown">
          <a [routerLink]="['staff']" class="dropdown-toggle" data-toggle="dropdown">Staff
          <span class="caret"></span></a>
        </li>

        <li class="dropdown">
          <a [routerLink]="['staff', 'invite']" class="dropdown-toggle" data-toggle="dropdown">Send Invitation
          <span class="caret"></span></a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Contact
          <span class="caret"></span></a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li> <a [routerLink]="['admin', 'login']"> <span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
          <li><a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="footer">
    <p>&copy; 2019 Binh, Pheakdey & Petros</p>
  </footer>



