<div style="width: 90%; margin: auto">
  <form [formGroup]="searchForm" style="width: 300px;">
    <div class="form-group">
      <p>Filter by email</p>
      <input name="search" class="form-control" formControlName="searchEmail"/>
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>By</th>
        <th>Sent Date</th>
        <th>Submit Date</th>
        <th>Time Spent</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of (exams|async)|filterByEmail:searchingText; let num = index" [ngClass]="{error: exam.status==='fail', success: exam.status==='pass'}">
        <th scope="row">{{num + 1}}</th>
        <td>{{exam.studentEmail}}</td>
        <td>{{exam.createdAt|date:'medium'}}</td>
        <td>{{exam.updatedAt|date:'medium'}}</td>
        <td>{{exam.duration|durationToHours}}</td>
        <td>{{exam.status}}</td>
        <td>
          <a [routerLink]="['/admin', 'review-exam', exam._id]">Review Exam</a><span *ngIf="exam.status==='fail' || exam.status==='pass'">&nbsp;|&nbsp;</span>
          <span><a *ngIf="exam.status==='fail' || exam.status==='pass'" href="javascript:void(0);" (click)="publishResult($event, exam._id)">Publish Result</a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
